*DISCLAIMER: To query my dataset, I used [Google Cloud's BigQuery](https://cloud.google.com/bigquery/docs/introduction). Unforunately, I could not figure out how to create a notebook. So, in the interest of time, I ran the following SQL queries directly in their console and pasted their outputs below. I will definitely have this issue resolved by the final analysis.*

**1. First Forty Rows**

In [ ]:
'''SELECT *
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
LIMIT 40'''

**2. Before January 1st, 2020**

In [ ]:
'''SELECT COUNT(*)
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`'''

result: 211655459

In [ ]:
'''SELECT COUNT(*)
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
WHERE trip_start_timestamp < TIMESTAMP("2020-01-01")'''

result: 190941465

In [1]:
190941465/211655459

0.9021334290272192

**3. Fare 0, Seconds and/or Miles 0**

In [ ]:
'''WITH before_covid AS (
  SELECT *
  FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
  WHERE trip_start_timestamp < TIMESTAMP("2020-01-01")
)
SELECT COUNT(*), AVG(trip_seconds)
FROM before_covid
WHERE ((trip_seconds = 0 OR trip_seconds IS NULL) 
OR (trip_miles = 0 OR trip_miles IS NULL))
AND (fare = 0 OR fare IS NULL)'''

result: 243551 | 3173.8807523455089

In [ ]:
'''WITH before_covid AS (
  SELECT *
  FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
  WHERE trip_start_timestamp < TIMESTAMP("2020-01-01")
)
SELECT COUNT(*)
FROM before_covid
WHERE (trip_seconds = 0 OR trip_seconds IS NULL)
OR (trip_miles = 0 OR trip_miles IS NULL)'''

result: 41879747

In [3]:
243551 / 41879747

0.005815484033368205

**4. Percent of Observations with 0 trip_seconds and/or trip_miles**

In [ ]:
'''WITH before_covid AS (
  SELECT *
  FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
  WHERE trip_start_timestamp < TIMESTAMP("2020-01-01")
)
SELECT COUNT(*)
FROM before_covid
WHERE (trip_seconds = 0 OR trip_seconds IS NULL)
OR (trip_miles = 0 OR trip_miles IS NULL)'''

result: 41879747

In [4]:
41879747 / 190941465

0.21933290917192869

**5. Proportion by Year**

In [ ]:
'''-- GET 0/NULL time trips, by year 
-- *THIS SHOULD EQUAL TOTAL*
WITH trips_by_year AS (
  SELECT DISTINCT DATE_TRUNC(trip_start_timestamp, YEAR) AS year, 
  COUNT(*) AS trips_per, 
  FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
  WHERE ((trip_seconds = 0 OR trip_seconds IS NULL)
  OR (trip_miles = 0 OR trip_miles IS NULL))
  AND trip_start_timestamp < TIMESTAMP("2020-01-01")
  GROUP BY (DATE_TRUNC(trip_start_timestamp, YEAR))
  ORDER BY year
)
SELECT *, trips_per/41879747 AS proportion
FROM trips_by_year'''

Row	| year | trips_per | proportion      
1 | 2013-01-01 00:00:00 UTC | 12140411 | 0.28988740070468905      
2 | 2014-01-01 00:00:00 UTC | 8977606  | 0.21436629022615633      
3 | 2015-01-01 00:00:00 UTC | 7178665  | 0.17141137457205746      
4 | 2016-01-01 00:00:00 UTC | 5508148  | 0.13152295308756282     
5 | 2017-01-01 00:00:00 UTC | 3044188  | 0.072688786778009912     
6 | 2018-01-01 00:00:00 UTC | 2582237  | 0.061658371527411569     
7 | 2019-01-01 00:00:00 UTC | 448492   | 0.058464823104112829